export ORG="HS-Teams"
export REPO="HS-Teams/hsh"
export PROJECT_TITLE="hsh"
export GH_CARD_PROJECT=2
export GH_CARD_PROJECT_OWNER="HS-Teams"
export GH_CARD_REPO="HS-Teams/hsh"
export HSH_M0_STATUS="Todo"
